doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description', content='')
  meta(name='author', content='')
  title La Tiendita de la Mangosta

  link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')

  link(href='css/shop-homepage.css', rel='stylesheet')

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  .container
    a.navbar-brand(href='#') La Tiendita de la Mangosta
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link(href='#')
            | Home
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='productos') Modificar Productos

.container
  .row
    .col-lg-3
      h1.my-4 Tiendas
      .list-group
        a.list-group-item(href='#') Tienda 1
        a.list-group-item(href='#') Tienda 2
        a.list-group-item(href='#') Tienda 3

    .col-lg-9
      #carouselExampleIndicators.carousel.slide.my-4(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
          li(data-target='#carouselExampleIndicators', data-slide-to='1')
          li(data-target='#carouselExampleIndicators', data-slide-to='2')
        .carousel-inner(role='listbox')
          .carousel-item.active
            img.d-block.img-fluid(src='images/1.jpg', alt='First slide')
          .carousel-item
            img.d-block.img-fluid(src='images/2.png', alt='Second slide')
          .carousel-item
            img.d-block.img-fluid(src='images/3.jpg', alt='Third slide' width='900px' height='350px')
        a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next

      .row

        each prod in Producto

          .col-lg-4.col-md-6.mb-4
              .card-body
                h4.card-title
                  a(href='#')=prod.nombre
                h5=prod.precio + '€'
                p.card-text
                  =prod.descripcion
              .card-footer
                small.text-muted &starf; &starf; &starf; &starf; &star;

footer.py-5.bg-dark
  .container
    p.m-0.text-center.text-white Copyright &copy; Your Website 2020

script(src='jquery/jquery.min.js')
script(src='bootstrap/js/bootstrap.bundle.min.js')
