
extends layout



block content

    a(href="/productos") Volver

    br

    br

    br

    h1 Nuevo Producto

    br

    br

    form(action="/productos/create" method="post")

        label(for="id") Id:

        input#id(type="number" name="id")

        br

        label(for="nombre") Nombre:

        input#id(type="text" name="nombre")

        br

        label(for="precio") Precio:

        input#id(type="number" name="precio")

        br

        label(for="descripcion") Descripcion:

        input#id(type="text" name="descripcion")

        br

        br

        input.btn(type="submit" value="OK")