
extends layout



block content

    a(href='/') Atras

    br

    a(href='/productos/create') Nuevo Producto

    br

    br

    table.table

        thead

            tr

                th(scope='col') #

                th(scope='col') Nombre

                th(scope='col') Precio

                th(scope='col') Descripcion

                th(scope='col')



        tbody

            each prod in prods

                tr

                    td(scope='row')= prod.id

                    td= prod.nombre

                    td= prod.precio

                    td= prod.descripcion

                    td

                        form.inline(method='post' action='productos/' + prod.id + '/delete')

                            input(type='hidden' name='id' value=prod.id)

                            button.link-button(type='submit' class='btn')

                                ='Eliminar'

                        form.inline(method='get' action='productos/' + prod.id + '/update')

                            input(type='hidden' name='id' value=prod.id)

                            button.link-button(type='submit' class='btn')

                                ='Actualizar'

