
extends layout



block content

    a(href="/productos") Volver

    br

    br

    br

    h1 Modificando Producto

    br

    br

    form(action=`/productos/${id}/update` method="post")

        label(for="id") ID:

        input#id(type="text" name="id" value=id)

        br

        label(for="nombre") Nombre:

        input#color(type="text" name="nombre" value=nombre)

        br

        label(for="precio") Precio:

        input#modelo(type="number" name="precio" value=precio)

        br

        label(for="descripcion") Descripcion:

        input#latitud(type="text" name="descripcion" value=descripcion)

        br

        br

        input.btn(type="submit" value="OK")

